html {
    scroll-padding-top: 5rem;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

p{
    font-size: 0.8rem;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.logo{
    width: 6rem; 
}

.imagesSize{
    width: 80%;
    aspect-ratio: 3/2; 
    object-fit: contain;
    margin: 0 auto;

}

.navText {
    display: none;
}

.btnNav:hover{
    background-color: aqua;
    border-radius: 3rem;
    transition: all .2s ease-in-out;
    
}

.btnNav:active{
    transform: scale(0.8);
}

.btnNav img:hover{
    animation-name: animacion;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

#btnCarrito img:hover{
    animation-name: animacion;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes animacion{
    20%{transform: rotate(25deg)}
    40%{transform: rotate(-25deg)}
    60%{transform: rotate(25deg)}
    80%{transform: rotate(-25deg)}
    100%{transform: rotate(0deg)}
}
#carrito {
    padding: 0;
    max-height: 20rem;
    text-align: end;
    overflow-y: auto;
}

#carrito::-webkit-scrollbar{
    width: 5px;
}

#carrito::-webkit-scrollbar-track{
    background: #f1f1f1;
}

#carrito::-webkit-scrollbar-thumb{
    background: #888;
}

#carrito::-webkit-scrollbar-Thumb:hover{
    background: #555;
}

#displayCarrito{
    position: fixed;
    max-width: 20rem;
    top: 5rem;
    right: 0.5rem;
    margin-left: 0.5rem;
    padding: 2rem;
    background: #fff;
    font-size: 0.8rem;
}

.visibilityFalse{
    display: none;
}

.visibilityTrue{
    display: initial;

} 

/* 320px hasta 575px */

@media (min-width: 576px){
    .navText{
        display: initial;
    }
}


@media (min-width: 992px){
    #displayCarrito{
        max-width: initial;
    }

    .logo{
        width: 8rem;
    }
}

@media (min-width: 1200px){
    #displayCarrito{
        top: 80px;
        right: 10px;
        left: unset;
        padding: 40px;
    }

    .logo{
        width:10rem;
    }
} 