body {
    margin: 0;
    padding: 0;

}

a:link, a:visited, a:active {
    text-decoration:none;
}

.imagesSizeBalls {
    width: 80%;
    aspect-ratio: 3/2; 
    object-fit: contain;
}

.imagesSizeMeds {
    width: 130px;
    height: 180px;
    margin: 20px;
}


#carrito {
  width: auto;
  max-height: 340px;
  text-align: end;
  overflow-y: auto;
}

#carrito::-webkit-scrollbar{
    width: 5px;
}

#carrito::-webkit-scrollbar-track{
    background: #f1f1f1;
}

#carrito::-webkit-scrollbar-thumb{
    background: #888;
}

#carrito::-webkit-scrollbar-Thumb:hover{
    background: #555;
}

.mini{
    position: fixed;
    top: 80px;
    right:10px;
    background: #fff;
    padding: 40px;
    transition: opacity .2s ease .2s;
}

.mini p {
   display: block;
   margin: 0;
   padding: 0;
   line-height: 20px; 
}
