body {
    margin: 0;
    padding: 0;
}

.imagesSizeBalls {
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 20px; 
}

.imagesSizeMeds {
    width: 130px;
    height: 180px;
    margin: 20px;
}


#carrito {
  width: auto;
  height: auto;
  text-align: end;
}


